
<section>
<!-- Producto -->
<div class="producto">
  <img src="/{{this}}.png" alt="{{this}}" class="img-fluid fruta-img" data-fruta="{{this}}" data-toggle="modal"
    data-target="#{{this}}Modal">
  <button type="button" class="btn btn-primary fruta-btn" data-toggle="modal" data-target="#{{this}}Modal">
    {{this}}
  </button>
</div>

</section>